/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.heading-bg-color {
  background-color: #E9E9EB;
}

.title-bg-color {
  background-color: #393E4F;
}
